/* You can add global styles to this file, and also import other style files */
@use "variables" as *;
@use '@angular/material' as mat;

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $app-bg-color; 
  color: white}



.connect-button {
  margin: 20px;
    @include mat.button-overrides((
      filled-container-color: $yellow-button-bg,
      filled-label-text-color: black
  ));
}

.classic-button {
  cursor: pointer;
  @include mat.button-overrides((
      filled-container-color: $card-color,
      filled-label-text-color: white
  ));
}


.icon-white {
  @include mat.icon-overrides((
    color: white,
  ));
}

.submenu {
  @include mat.menu-overrides((
    container-color: $sidebar-bg-color,
  ));
}

.classic-checkbox {
  @include mat.checkbox-overrides((
    label-text-color: white
  ));
}

.classic-slide-toggle {
  @include mat.slide-toggle-overrides((
    label-text-color: white,
    selected-focus-track-color: $yellow-button-bg,
    selected-hover-track-color: $yellow-button-bg,
    selected-track-color: $yellow-button-bg
  ));
}

.classic-dialog
{
  @include mat.dialog-overrides((
    container-color: $app-bg-color
  ));
}
