@if(pokedex)
{
<div class="pokedex-container">
  <div class="pokedex-header">
    <div class="spacer"></div>

    <h1 class="title">{{ pokedex.name }}</h1>

    @if (isPokedexOwner && pokedex.type == PokedexType.LivingDex) {
      <button class="share-btn" mat-icon-button matTooltip="Copier le code de partage" (click)="handleShareCode()">
        <mat-icon fontIcon="ios_share" class="share"></mat-icon>
      </button>
    } @else {
      <div class="spacer"></div>
    }
  </div>

  @if(completion)
  {
  <div class="body">
    <div class="pokedex-bar-container" [matTooltip]="getValueProgressBar() + '%'">
      <mat-progress-bar class="progress-bar-pokedex yellow-pg" mode="determinate"
        [value]="getValueProgressBar()"></mat-progress-bar>
      <span>{{ completion.ownedPokemonNb }} / {{ completion.maxPokemon }}</span>
    </div>
  </div>
  }


  @switch (pokedex.type) {
  @case(PokedexType.SpecificPokemonsDex) {
  <app-specific-pokemon-pokedex [pokedex]="pokedex"></app-specific-pokemon-pokedex>
  }
  @case (PokedexType.ZarbiDex) {
  <app-zarbi-dex></app-zarbi-dex>
  }
  @default {
  <app-living-dex-pokedex [pokedex]="pokedex" [genSelected]="genSelected"></app-living-dex-pokedex>
  }
  }

</div>
}