
<div class="sidebar" [@slideInOut]="isOpen() ? 'in' : 'out'">
    <div class="cancel-cross-wrapper">
        <mat-icon fontIcon="close" class="icon-white close" (click)="handleCloseSideBar()"></mat-icon>
    </div>
    @if(!user) {
        <button mat-flat-button class="connect-button" (click)="handleConnexion()">Connexion</button>
    } @else {
        <img [src]="'assets/' + user.pictureProfilPath" class="profileImages" />
        <p style="color: white">{{ user.email }}</p>
        <button mat-flat-button class="logout-button" (click)="handleLogOut()">Déconnexion</button>
    }
</div>
