
<div class="sidebar" [@slideInOut]="isOpen() ? 'in' : 'out'">
    <div class="cancel-cross-wrapper">
        <mat-icon fontIcon="close" class="icon-white close" (click)="handleCloseSideBar()"></mat-icon>
    </div>
    @if(!user) {
        <button mat-flat-button class="connect-button" (click)="handleConnexion()">Connexion</button>
    } @else {
        <div class="profile-wrapper" (click)="handleProfileClick()">
            <img [src]="'assets/' + user.pictureProfilPath" class="profileImages" />
            <span>Mon Profil</span>
        </div>

        @for (dex of user.pokedex; track dex.id) {
            <div class="pokedex-wrapper" (click)="handlePokedexClick(dex.id)">
                <img src="assets/pokedex.svg" />
                <span>{{ dex.name}}</span>
            </div>
        }

        <div class="add-pokedex-wrapper"> 
            <button mat-flat-button class="connect-button add-pokedex-button" (click)="handleAddPokedex()">
            <mat-icon fontIcon="add"></mat-icon>
            <span>Créer un pokédex</span>
        </button>
        </div>
        
        <button mat-flat-button class="logout-button" (click)="handleLogOut()">Déconnexion</button>
    }
</div>
