
<div class="sidebar" [@slideInOut]="isOpen() ? 'in' : 'out'">
    <div class="cancel-cross-wrapper">
        <mat-icon fontIcon="close" class="icon-white close" (click)="handleCloseSideBar()"></mat-icon>
    </div>
    @if(!user) {
        <button mat-flat-button class="connect-button" (click)="handleConnexion()">Connexion</button>
    } @else {
        <div class="profile-wrapper" (click)="handleProfileClick()">
            <img [src]="'assets/' + user.pictureProfilPath" class="profileImages" />
            <span>Mon Profil</span>
        </div>

        <div class="pokedex-wrapper" (click)="handlePokedexClick()">
            <img src="assets/pokedex.svg" />
            <span>Pokédex</span>
        </div>

        <button mat-flat-button class="logout-button" (click)="handleLogOut()">Déconnexion</button>
    }
</div>
