<mat-tab-group>
  <mat-tab label="Prix">
    <div class="stats-container">
      <h1 class="title">{{ pokedex?.name }}</h1>
      <div>
        <canvas #chartCanvas></canvas>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Liste Cartes">
    <mat-icon
        fontIcon="ios_share"
        (click)="handleShareCode()"
        class="share"
        matTooltip="Copier le lien de partage"
        tabindex="0"
      ></mat-icon>
    <app-shared-wanted-card></app-shared-wanted-card>
  </mat-tab>
</mat-tab-group>