@use "variables" as *;

.stats-container {

    .title {
        text-align: center;
    }

}

.share {
    margin: 10px;
      color: black;
      background-color: $yellow-button-bg;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
