<mat-tab-group>
  <mat-tab label="Prix">
    <div class="stats-container">
      <h1 class="title">{{ pokedex?.name }}</h1>
      <div>
        <canvas #chartCanvas></canvas>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Liste Cartes">
    <div class="cards">
      @for(card of pokemoncards; track card.id; let i = $index) {
      <div *ngIf="i === 0 || pokemoncards[i - 1].extension !== card.extension" class="extension-header">
        {{ card.set.name }}
      </div>
      <img [src]="card.image" class="image-carte" loading="lazy">
      }
    </div>
  </mat-tab>
</mat-tab-group>