@use "variables" as *;

.top-bar {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    border-bottom: 1px solid gray;

    .item-list {
        padding-left: 10px;
    }
}