@use "variables" as *;

.title {
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px;
}

.supr
{
    margin: 0 auto;
    width: 70%;
    margin-bottom: 8px;
}

.card-container
{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 10px;

    .img-container{
        margin: 0 auto;

        .image-carte
        {
            width: 120px;
            height: 160px;
        }
    }
    
}

.sort-wrapper
{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: flex-end;

    .sort-icon
    {
        padding: 5px;
        border-radius: 10%;
        cursor: pointer;
    }
    .sort-icon:hover{
        background-color: $card-color;
    }
}
