<div class="pokemon-details-container">
    <div class="header">
        <div class="button-back">
            <button mat-flat-button class="classic-button" (click)="handleBackPokedex()">
                <mat-icon fontIcon="arrow_back" class="icon-white"></mat-icon>
                <span>Retour au Pokédex</span>
            </button>
        </div>

        
    </div>
    
    @if(pokemon)
    {
        <div class="pokemon-wrapper">
            @if(hasPokemonBefore())
            {
                <div class="side-left" (click)="handlePreviousPokemon()">
                    <mat-icon class="arrow" fontIcon="chevron_left"></mat-icon>
                </div>
            }
            
            <div class="pokemon">
                <div class="pokemon-header">
                    <div class="pokemon-title">
                        <span class="pokemon-name">{{ pokemon.name }}</span>
                        <span>{{ pokemonUtilsService.formatPokedexId(pokemon.pokedexId) }}</span>
                    </div>
                    <img class="pokemon-image" [src]="pokemon.imagePath">
                </div>
                @if (!isReadOnly) {
                <mat-checkbox [(ngModel)]="hide" (change)="onToggleVisibility($event.checked)"
                    class="classic-checkbox">Cacher</mat-checkbox>
                }
            </div>

            @if(hasPokemonAfter())
            {
                <div class="side-right" (click)="handleNextPokemon()">
                    <mat-icon class="arrow" fontIcon="chevron_right"></mat-icon>
                </div>
            }
            
        </div>      

        <div class="card-container">

            <div class="have-card" (click)="openListCard(PokemonCardTypeSelected.Owned)">
                @if(cardsSelected?.ownedPokemonCard)
                {
                    <span>{{getIdExtensionCard(cardsSelected?.ownedPokemonCard)}}</span>
                    <img class="owned-image" [src]="cardsSelected?.ownedPokemonCard?.pokemonCard?.image">
                } @else {
                    <mat-icon fontIcon="add"></mat-icon>
                }
                <span class="legend">Carte possédée</span>
            </div>

            <div class="chase-card" (click)="openListCard(PokemonCardTypeSelected.Wanted)">
                @if(cardsSelected?.wantedPokemonCard)
                {
                    <span>{{getIdExtensionCard(cardsSelected?.wantedPokemonCard)}}</span>
                    <img class="wanted-image" [src]="cardsSelected?.wantedPokemonCard?.pokemonCard?.image">
                } @else {
                    <mat-icon fontIcon="add"></mat-icon>
                }
                <span class="legend">Carte voulue</span>
            </div>
        </div>
        @if(cardsSelected != null && cardsSelected.ownedPokemonCard != null)
        {
            <div class="form-price">
                <mat-form-field class="price-form-field">
                    <mat-label>Prix D'achat</mat-label>
                    <input matInput type="number" step="0.01" min="0" [(ngModel)]="cardsSelected.ownedPokemonCard.acquiredPrice" [disabled]="isReadOnly">
                </mat-form-field>

                <mat-form-field class="price-form-field">
                    <mat-label>Prix Actuel</mat-label>
                    <input matInput type="number" step="0.01" min="0" [(ngModel)]="cardsSelected.ownedPokemonCard.price" [disabled]="isReadOnly">
                </mat-form-field>

                @if(!isReadOnly){
                    <mat-icon fontIcon="save" class="icon" (click)="handleSavePrice()"></mat-icon>
                }
                
            </div>
        }
        
        
        
    }
    
</div>
