<div class="pokemon-details-container">
    <div class="header">
        <div class="button-back">
            <button mat-flat-button class="classic-button" (click)="handleBackPokedex()">
                <mat-icon fontIcon="arrow_back" class="icon-white"></mat-icon>
                <span>Retour au Pokédex</span>
            </button>
        </div>
    </div>
    
    @if(pokemon)
    {
        <div class="pokemon">
            <div class="pokemon-title">
                <span class="pokemon-name">{{ pokemon.name }}</span>
                <span>{{ pokemonUtilsService.formatPokedexId(pokemon.pokedexId) }}</span>
            </div>
            <img class="pokemon-image"[src]="pokemon.imagePath">
            <mat-checkbox [(ngModel)]="hide" (change)="onToggleVisibility($event.checked)" class="classic-checkbox">Caché</mat-checkbox>
        </div>

        <div class="card-container">

            <div class="have-card" (click)="openListCard(PokemonCardTypeSelected.myCard)">
                @if(cardsSelected?.ownedPokemonCard)
                {
                    <img class="owned-image" [src]="cardsSelected?.ownedPokemonCard?.pokemonCard?.image">
                } @else {
                    <span>Selectionner une carte</span>
                }
            </div>

            <div class="chase-card" (click)="openListCard(PokemonCardTypeSelected.chaseCard)">
                @if(cardsSelected?.wantedPokemonCard)
                {
                    <img class="wanted-image" [src]="cardsSelected?.wantedPokemonCard?.pokemonCard?.image">
                } @else {
                    <span>Selectionner une carte</span>
                }
            </div>
        </div>
        
    }
    
</div>
